html {
  background-image: linear-gradient(to bottom, black, grey);
  background-size: cover;
}

.left-column {
  float: left;
  /*border-left: 3px solid black;*/
  width: 33%;
  height: 1000px;

}

.middle-column {
  float: left;
  border-left: 1px solid white;
  width: 33%;
  height: 1000px;
}

.right-column {
  float: left;
  border-left: 1px solid white;
  width: 33.33%;
  height: 1000px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
